<a href="https://colab.research.google.com/github/shal-n/Assignment-1/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                    **Session 1**
Task 1:
1. Install jupyter notebook and run the 1st program and share the  screen shot of the output

In [0]:
print("This is my first program ")

This is my first program

2. Write a program which will find all such numbers. which are divisible by 7 but are not a multiple of 5, between 2000 and 3200(both included). The numbersWobtained should be printed in a comma-separated sequence on a single line.

In [0]:
n = []
for x in range(2000,3201):
  if(x%7==0) and (x%5!=0):
    n.append(str(x))
print(','.join(n))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

3. Write a python program to accept the user's first and last name and then getting them printed in the reverse order with a space between first name and last name

In [0]:
x = input("Enter your first name ")
y = input("Enter your last name ")
print(y," ",x)

Enter your first name Shalini
Enter your last name N
N   Shalini

4. write a python program to find the volume of a sphere with diameter 12 cm
     formula: v=4/3* pi *r3

In [0]:
d = 12.0
r = d/2
pi = 3.142
v = 4/3*pi*r**3
print("Volume of sphere is:",v)

Volume of sphere is: 904.896

Task 2:
1. Write a program which accepts a sequence of comma - separated number from console and generate a list

In [0]:
values = input("Enter sequence of numbers")
l = values.split(",")
print("The sequence numbers is:", l)

Enter sequence of numbers1,2,3,4,5
The sequence numbers is: ['1', '2', '3', '4', '5']

2. Create the below pattern using nested for loop in python

In [0]:
n = 5
for i in range(n):
  for j in range(i):
    print('*',end="")
  print("")
for i in range(n,0,-1):
  for j in range(i):
    print('*',end="")
  print("")

*
**
***
****
*****
****
***
**
*

3. Write a python program to reverse a word after accepting the input from the user
sample: Acad Gild
output: dilG dacA

In [20]:
l = input("Enter a word :")
v = l[::-1]
print("The reverse order of word is:",v)

Enter a word :Madam curie
The reverse order of word is: eiruc madaM

4. Write a python program to print the given string in the format specified in the sample output
 WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute india in to a SOVEREIGN,!
    SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
    and to secure to all its citizens

In [25]:
print("WE,THE PEOPLE OF INDIA, \n   having solemnly resolved to constitute india in to a SOVEREIGN ! \n       SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n       and to secure to all its citizens")

WE,THE PEOPLE OF INDIA,
   having solemnly resolved to constitute india in to a SOVEREIGN !
       SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
       and to secure to all its citizens